* {
  box-sizing: border-box;
}

html {
  // font-family: Arial, Helvetica, sans-serif;
  font-family: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
}
body {
  margin: 0;
}

.app {
  // position: relative;

  .app-header {
    display: flex;
    align-items: center;
    position: relative;
    height: 52px;
    padding: 0 1rem;
    background-color: #FF7D00;

    .app-title {
      flex: 1;
      font-size: 24px;
      color: #FFF;
    }
    .app-actions {
      display: flex;
      justify-content: flex-end;

      .app-btn {
        width: 28px;
        height: 28px;
        &.btn-menu {
          background-image: url('./images/menu.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }
      }
    }

    .app-menu {
      display: none;
      position: absolute;
      right: 10px;
      top: 60px;
      z-index: 1000;
      width: 180px;
      // height: 100px;
      border: 1px solid #ddd;
      background-color: #FFF;
      border-radius: 4px;
      box-shadow: 0 15px 15px 1px #0f25401a;

      .menu-tags {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;

        .tag {
          display: block;
          padding: 7px 10px;
          text-decoration: none;
          margin-inline-end: 10px;
          margin-block-end: 7px;
          color: #595959;
          font-size: 14px;
        }
      }
    }
  }

  .main-body {
    padding: 1rem;

    .items-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      .item {
        display: flex;
        min-height: 160px;
        background-color: #EEE;
        border-radius: 4px;
        overflow: hidden;
  
        .item-image {
          flex: 1;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
  
          // &:hover {
          //   background-size: 120%;
          // }
        }
      }
    }
  }

  .footer {
    // display: flex;
    // justify-content: center;
    padding: 1rem;
    .p {
      font-size: 12px;
      color: #939393;
      text-align: center;
      word-break: break-word;
    }
  }

  .image-preview {
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .mask {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: #000000a6;
    }

    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 109;
      width: 42px;
      height: 42px;
      padding: 10px;
      border-radius: 6px;
      background: url(../public/images/close.svg) center center no-repeat;
      background-color: #FFFFFFa9;
      background-size: 80%;
      filter: drop-shadow(-100px 0 0 #FFF);
      transform: translateX(100px);
    }

    .image-container {
      // background-color: #FFF;
      width: 100%;
      min-height: 5vh;
      max-height: 100%;
      z-index: 110;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    // .image-preview-container {
    //   position: fixed;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 110;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }

  }
}